<h1>Add a book!</h1>

<form action="/books" method="POST">
  Book Title: <br>
  <input type="text" name="name" value="Test Title"><br>
  Book Author: <br>
  <input type="text" name="author" value="Test Author"><br>
  Book Page Count: <br>
  <input type="integer" name="pages" value=250><br>
  <input type="submit" value="Submit">
</form>